@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&family=Varela&display=swap');
body {

	font-family: 'Varela',sans-serif;
	font-size: 1.2rem;
    font-weight: 400;
	color: #322b2b;
}

h1,h2,h3,h4,h5{
	font-family: 'Poppins',sans-serif;
}
h1 {
	font-size: 3.0rem;
	font-weight: 600;
  }
h2 {
    font-weight: 600;
    font-size: 2.5rem;
    width: 100%;
    line-height: 50px;
}
h3 {
    font-weight: 600;
    font-size: 1.6rem;
    width: 100%;
    line-height: 50px;
}
  p {
	font-size: 18px;
	line-height: 1.6;
  }
.hero-section {
    background-image: url('assets/bg.png'); 
    background-size: cover;
    background-position: center;
    padding: 10px;
}
.text-hero {
    margin-top: 15%;
    margin-bottom: 15%;
}
  .navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: #67A3E5;
  }
  .navbar-brand {
	font-size: 2.5rem;
	font-weight: 600;
    margin-left: 20px;
    color:white;
	text-decoration: none;
	white-space: nowrap;
  }  
  .nav-item{
	margin-right: 10px;
  }
	.navbar ul li a {
		font-size: 18px;
		color: white;
		font-weight: bold;
		text-align: center;
		padding: 0px 16px 0px 16px;
		text-decoration: none;
	}
	.navbar ul li a:hover {
		text-decoration: underline;
	}
  
	.btn {
		padding: 12px 24px;
		margin: 5px 5px 5px 5px;
		border: 0 none;
		font-weight: 250;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	
	.btn:focus, .btn:active:focus, .btn.active:focus {
		outline: 0 none;
	}
	
	.btn-primary {
		background: #377ECF;
		color: #ffffff;
	}
	
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
		background: #88BBF5;
	}
	
	.btn-primary:active, .btn-primary.active {
		background: #007299;
		box-shadow: none;
	}
	.btn.btn-primary.round {
		border-radius: 25px;
	}

	.row.about {
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
		border-radius: 30px;
		padding: 20px;
		box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.15);
	}
	
  .porto-img {
	  width:100%;
	  margin: auto;
	  display: block;
	  position: relative;
	  border-radius: 15px;
	  overflow: hidden;
	  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
	  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
	  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
	  z-index: 0; }

	  @keyframes kanan {
		0% {
		  opacity: 0;
		  transform: translateX(-100%);
		}
		100% {
		  opacity: 1;
		  transform: translateX(0);
		}
	  }
	.fade-right{	
		animation: kanan 3s ease;
	}

	.fade-bottom {
		opacity: 0;
		transform: translateY(100%);
		transition: opacity 1s, transform 1s;
	  }
  
	.fade-bottom.muncul {
		opacity: 1;
		transform: translateY(0);
	  }
  
.footer {
            padding: 30px 0px 30px 0px;
            background-color: #9cd3f6;
            text-align: center;
            width: 100%;
        }
		 
		.btn-social {
            width: 70px;
            height: 70px;
			background-color: #3b5999;
            border-radius: 50%; 
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
			background-color: #ffffff;
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            color: #333; 
			transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			margin-bottom: 30px;
        }

        .btn-facebook:hover {
            background-color: #3b5998; /* Warna latar belakang saat dihover */
        }

        .btn-instagram:hover {
            background-color: #e4405f;
        }

        .btn-linkedin:hover {
            background-color: #0077B5;
        }

        .btn-github:hover {
            background-color: #333333;
        }

        .btn-twitter:hover {
			background-color: #46c1f6;

        }
